#table_2{
	position : fixed;
	left : 300px;
	bottom : 80px; 
}
.obs{
	float : left;
	position : fixed;
	left : 450px;
	bottom : 250px;
}
.subObs{
	float : left;
	width: 175px;
}
.info{
	position:fixed;
	bottom:20px;
}
.subInfo{
	float:left;
	width: 300px;
	font-size: 25px;
}